$navbarBackgroundHighlight: #003300;
$navbarBackground: #003300;


@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner{
	@include box-shadow(!important);
	color: #00FF00;
	border: 6px;
}

.footer {

	margin-top: 50px;
	color: $grayLight;
	a{
		color: $gray;
	}

}
